<ion-content padding class="main" class="tutorial-pages">

	<ion-slides pager *ngIf="isTutorialVisible()">
		<ion-slide *ngFor="let slide of slides" padding>
			<img [src]="slide.image" class="slide-image" />
			<h2 class="slide-title" [innerHTML]="slide.title"></h2>
			<p [innerHTML]="slide.description"></p>
		</ion-slide>
		<ion-slide padding>
			<img src="assets/imgs/slide5.png" class="slide-image" />
			<h2 class="slide-title">!Felicidades, ya estás listo para ser el alma del museo!</h2>
			<button ion-button large clear icon-end color="primary" (click)="closeTutorial()">
				Continuar
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
			<ion-item class="dontshow">
				<ion-label>No mostrar de nuevo</ion-label>
				<ion-checkbox checked="false" [(ngModel)]="checkboxTutorial"></ion-checkbox>
			</ion-item>

			<!-- <ion-grid>
				<ion-row>
					<ion-col col-12>
					</ion-col>
				</ion-row>
			</ion-grid> -->


		</ion-slide>
	</ion-slides>

	<ion-fab top right *ngIf="!showTutorial">
		<button ion-fab mini color="light" (click)="viewInfo()">
			<ion-icon name="information"></ion-icon>
		</button>
	</ion-fab>
	<div class="posmo" *ngIf="!showTutorial">

		<div class="logo-container">
			<img (click)="generateNewPhrase()" src="assets/imgs/HIPSTER-GIFCOOL.gif" alt="">
		</div>
		<div class="text-center mt-30 title-container">
			<img (click)="generateNewPhrase()" src="assets/imgs/generador.png" alt="">
		</div>

		<div class="phrase-container">
			<img (click)="generateNewPhrase()" src="assets/imgs/random.png" alt="" class="random">
			<h5>
				<span class="prase">{{phrase}}</span>
				<span class="cursor">|</span>
			</h5>
		</div>
	</div>
</ion-content>