page-home {
  .content-md {
    background: #ffffee;
  }
}

.tutorial-pages {
	overflow-y: auto;

	.scroll-content {
		overflow-y: auto;
	}
}

.main {
  background: #ffffee;
}

.logo-container {
  text-align: center;
  img {
    width: 200px;
    height: auto;
  }
}

.title-container {
  img {
    max-width: 100%;
    height: auto;
  }
}

.phrase-container {
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
  background: #ffffff;
	border-bottom: 5px solid rgba(90, 70, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: column;

  .random {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  h5 {
    display: block;
    font-size: 16px;
    margin: 0;
    text-align: center;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: -moz-text;
    -ms-user-select: text;
    user-select: text;
  }
}

// .social{
// 	margin: 0 auto 15px auto;
// 	text-align: center;
// 	position: relative;
// 	width: 226px;
// 	background: #F7F7F2;
// 	//padding-top: 10px;
// }

// .social img{
// 	margin-top: 5px;
// }

// .social a{
// 	text-decoration: none;
// 	color: #000;
// 	display: block;
// }

// .social p{
// 	margin-bottom: 0px;
// }

// #facebook{
// 	height: 60px;
// 	width: 60px;
// 	position: absolute;
// 	top: 40px;
// 	left: 24px;
// }

// #twitter{
// 	height: 60px;
// 	width: 60px;
// 	position: absolute;
// 	top: 40px;
// 	left: 140px;
// }

// #main{
// 	min-height: 100%;
// 	background: #F7F7F2;
// 	box-sizing: border-box;
// 	//margin-top: 30px;
// 	display: table;
// }

// #main>div{
// 	display: table-cell;
// 	vertical-align: middle;
// }

// #desc>.row{
// 	display: table-cell;
// 	vertical-align: middle;
// }

// #desc{
// 	display: table;
// 	min-height: 100%;
// 	background: #fcf7cd;
// 	box-sizing: border-box;
// 	border-left: 1px solid #ddd;
// }

// #desc>div.row>p>a{
// 	color: #aaa !important;
// }

// .random{
// 	text-align: right;
// }

// .random img{
// 	cursor: pointer;
// }

// #desc>.row>div>div>ol{
// 	padding-left: 25px;
// }


@-webkit-keyframes cursosamin {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes cursosamin {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes cursosamin {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes cursosamin {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}

.cursor{
	-webkit-animation: cursosamin .9s infinite; /* Safari 4+ */
	-moz-animation:    cursosamin .9s infinite; /* Fx 5+ */
	-o-animation:      cursosamin .9s infinite; /* Opera 12+ */
	animation:         cursosamin .9s infinite; /* IE 10+ */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//
//
//
.swiper-slide {
	align-items: unset;
}

.swiper-slide img.slide-image {
	width: 200px;
	height: auto;
	margin-bottom: 30px;
}

.tutorial-page {

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
		width: 250px;
		height: auto;
		max-width: 250px;
		margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
}

ion-slides {
  background: #f3f3f6;

  .checkbox-md + .item-inner ion-label {
    color: #666666;
  }

  .item-md.item-block .item-inner {
    border: none;
  }
}

ion-grid {
  margin-top: 45px;
}

.dontshow {
  background: transparent;
}
