<ion-header>

	<ion-navbar color="primary">
		<ion-title>Acerca de</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="closeModal()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <div class="pasos">
    <h2 class="text-center">¿Estás en una exposición de arte y no entiendes nada?</h2>
    <h5 class="text-center">¡Posmo te ayuda a ser un crítico de arte en 3 pasos!</h5>
    <ol class="mt-30">
      <li>Selecciona un objeto de la sala.</li>
      <li>Genera una frase aleatoria. <img src="assets/imgs/random.png" alt=""></li>
      <li>Repite la frase con un tono profundo mientras ves el objeto.</li>
    </ol>

    <p>!Felicidades, ya estás listo para ser el alma del museo!</p>
  </div> -->

	<ion-list class="mt-60">
		<button ion-item class="label label-md" (click)="resetTutorial()">
			Resetear tutorial
		</button>
		<ion-item>
			<ion-label class="label label-md">
				Versión
			</ion-label>
			<ion-note item-end="" class="note note-md">
				1.0.0
			</ion-note>
		</ion-item>

	</ion-list>
</ion-content>